th,.td-center{
    text-align: center !important;
}
.quantity-btn{
    border: none !important;
}
.quantity-btn:focus{
    outline: none;
}
input[type="number"]{
    border: none !important;
    width: 20%;
    text-align: center;

}
input[type="number"]:focus{
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.d-flex{
    width:100%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
#totalPaid-Container{
    color: red;
    font-size: larger;
    font-weight: 600;
}
#username-container,#logout{
    color: white;
}
